<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/hero-parallax.css")
        title Hero Banner
    body
        main
            header
                
            section
                h1 CSS Parallax Header Image
                p This demo uses a method discovered by Keith Clark to create parallax effects in CSS, without a ton of janky Javascript and bloated jQuery plugins. 

            
        //- script(src = 'js/parallax.js')