<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/test.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        title Test Page

body
    .testpage(itemscope = 'itemscope', itemtype = 'https://schema.org/CreativeWork')
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='#' itemprop = 'navbar') Navbar
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#')
                                | Home 
                            span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#') Link
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Dropdown
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='#') Action
                                a.dropdown-item(href='#') Another action
                                .dropdown-divider
                                a.dropdown-item(href='#') Something else here
                        li.nav-item
                            a.nav-link.disabled(href='#') Disabled
                    form.form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                    
                    // End top header
        .main
            #hero.hero(itemprop = 'content')
                .fluid_container
                    .parallax
                        #group1.parallax__group
                            .parallax__layer.parallax__layer--back
                                //- img.codepen_image(src='https://wallpapercave.com/wp/CJuzwZM.jpg')     
                                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                                    ol.carousel-indicators
                                        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                                        li(data-target='#carouselExampleIndicators' data-slide-to='1')
                                        li(data-target='#carouselExampleIndicators' data-slide-to='2')
                                    .carousel-inner(style = 'height: 64vh')
                                        .carousel-item.active
                                            img.d-block.w-100(src='http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822275-1920-1080.jpg' style='height : 500px ' alt='...' itemprop="image")
                                        .carousel-item
                                            img.d-block.w-100(src='http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822272-1920-1080.jpg' style='height : 500px' alt='...' itemprop="image")
                                        .carousel-item
                                            img.d-block.w-100(src='https://newevolutiondesigns.com/images/freebies/hd-wallpaper-48.jpg' style='height : 500px' alt='...' itemprop="image")
                                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                                        span.carousel-control-prev-icon(aria-hidden='true')
                                        span.sr-only Previous
                                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                                        span.carousel-control-next-icon(aria-hidden='true')
                                        span.sr-only Next

                            
                        .parallax__layer.parallax__layer--base
                            #accordion(role='tablist')
                                .card
                                    #headingOne.card-header(role='tab')
                                        h5.mb-0
                                            a(data-toggle='collapse' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                                                | Collapsible Group Item #1
                                    #collapseOne.collapse(role='tabpanel' aria-labelledby='headingOne' data-parent='#accordion')
                                        .card-body.abstract
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                                .card
                                    #headingTwo.card-header(role='tab')
                                        h5.mb-0
                                            a.collapsed(data-toggle='collapse' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                | Collapsible Group Item #2
                                    #collapseTwo.collapse(role='tabpanel' aria-labelledby='headingTwo' data-parent='#accordion')
                                        .card-body.abstract
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                                .card
                                    #headingThree.card-header(role='tab')
                                        h5.mb-0
                                            a.collapsed(data-toggle='collapse' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                | Collapsible Group Item #3
                                    #collapseThree.collapse(role='tabpanel' aria-labelledby='headingThree' data-parent='#accordion')
                                        .card-body.abstract
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.

        footer.footer
            // Button trigger modal
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
                |   Get a Quote 
            // Modal
            #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Quote
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            | ...
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                            button.btn.btn-primary(type='button') Save 

                                              

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")    
        script(src='js/test.js').
            